.footer {
	min-height: 360px;
	background: #305568;
}

.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
}

.footer__block {}

.footer__logo {}

.footer__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.footer__info p{
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}

.footer__ic {}

.footer__btn {}

.footer__btn button{
	width: 243px;
	height: 50px;
	background: #FC2C6A;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}

.footer__link {
	padding-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.footer__link-item {
	margin-right: 20px;
}
.footer__link-item:first-child{
	margin-left: 10px;
}

.footer__text{
	max-width: 1202px;
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	margin: 0 auto;
	color: #FFFFFF;
	padding-top: 50px;
}


@media(max-width: 768px) {
	.footer__row{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.footer__block{
		margin-bottom: 20px;
	}

	.footer__text{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	.footer__info p{
		font-size: 14px;
	}
}